Flask==1.1.2
Flask-Minify==0.29
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
gunicorn==20.0.4
htmlmin==0.1.12
ilock==1.0.3
iniconfig==1.1.1
Jinja2==2.11.2
jsmin==2.2.2
libsass==0.20.1
SQLAlchemy==1.3.20
WTForms==2.3.3
