{% extends "base.html" %}

{% set active = "about" %}

{% block content %}
<article lang="en">
  <header>
    <h1>Sand Walker</h1>

    {% include "glfx.html" %}

    <small>The Pocket Reward Explorer</small>
  </header>
  <div id="content">
    {% include "_flashes.html" %}

    <h3>About the Sand Walker</h3>
    
    <p>
      The Sand Walker project is currently a beta version of a
      real-time Pocket reward explorer, more information about the
      future of the project can be found
      in <a href="https://forum.pokt.network/t/pep-7-the-sand-walker-a-pocket-reward-explorer/977/">PEP-7</a>.
    </p>

  </div>
</article>
{% endblock %}
