{% from "_macros.html" import render_field, render_errors %}

{% extends "base.html" %}

{% set active = "explorer" %}

{% block content %}
<article lang="en">
  <header>
    <h1>Sand Walker</h1>
    
    {% include "glfx.html" %}
    
    <small>The Pocket Reward Explorer</small>
  </header>
  <div id="content">

    {% include "_flashes.html" %}

    {% if entries %}
    
    <h3>{{ account }}</h3>

    <p>Summary of rewards:</p>

    <ul>
      <li>{{ count }} rewards earned</li>
      <li>{{ '%0.3f'|format(total) }} <small class="exp">pkt</small> minted</li>
    </ul>

    <br />

    <h3>History</h3>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
	    <th>Block Height</th>
	    <th>Reward</th>
	    <th>Total</th>
	  </tr>
	</thead>
	<tbody>
	  {% set stats = {'cum': 0} %}
	  {% for entry in entries %}
	  {% if stats.update({'cum': stats.cum + entry.amount}) %}{% endif %}
	  <tr>
	    <td>{{ entry.block }}</td>
	    <td>{{ '%0.3f'|format(entry.amount / 10**6) }} <small class="exp">pkt</small></td>
	    <td>{{ '%0.3f'|format(stats.cum / 10**6) }} <small class="exp">pkt</small></td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>

    {% else %}

    <p>No reward for this account.</p>

    {% endif %}

  </div>

</article>
{% endblock %}
