{% from "_macros.html" import render_field, render_errors %}

{% extends "base.html" %}

{% set active = "explorer" %}

{% block content %}
<article lang="en">
  <header>
    <h1>Sand Walker</h1>
    
    {% include "glfx.html" %}
    
    <small>The Pocket Reward Explorer</small>
  </header>
  <div id="content">

    {% include "_flashes.html" %}

    {% if entries_by_month %}

    <h3>Summary</h3>

    <ul>
      <li>{{ account }}</li>
      <li>{{ count }} rewards earned</li>
      <li>{{ '%0.3f'|format(total / 10**6) }} <small class="exp">pokt</small> minted</li>
    </ul>

    <a href="{{ url_for('sandwalker.export_csv_account', account=account) }}" class="right-button">Download CSV</a>
    <div class="clear"></div>
    
    <h3>History</h3>

    <ul>
      {% for month, month_entry in entries_by_month.items() %}
      <li><a href="#{{ month }}">{{ month }}</a> &mdash; {{ '%0.3f'|format(month_entry.month_total / 10**6) }} <small class="exp">pokt</small></li>
      {% endfor %}
    </ul>

    <h3>Full History</h3>

    {% for month, month_entry in entries_by_month.items() %}

    <h2 id="{{ month }}">
      <a href="#{{ month }}" class="large-button">
	Month {{ month }} &mdash; {{ '%0.3f'|format(month_entry.month_total / 10**6) }} <small class="exp">pokt</small>
      </a>
    </h2>

    <br />

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
	    <th>Id</th>
	    <th>Block Height</th>
	    <th>Block Time</th>
	    <th>Reward</th>
	    <th>Month Total</th>
	    <th>Total</th>
	  </tr>
	</thead>
	<tbody>
	  {% for entry in month_entry.entries %}
	  <tr>
	    <td>{{ entry.current_count }}</td>
	    <td>{{ entry.block }}</td>
	    <td>{{ entry.time }}</td>
	    <td>{{ '%0.3f'|format(entry.amount / 10**6) }} <small class="exp">pokt</small></td>
	    <td>{{ '%0.3f'|format(entry.current_month_total / 10**6) }} <small class="exp">pokt</small></td>
	    <td>{{ '%0.3f'|format(entry.current_total / 10**6) }} <small class="exp">pokt</small></td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>

    {% endfor %}

    {% else %}

    <p>No reward for this account.</p>

    {% endif %}

  </div>

</article>
{% endblock %}
