{% from "_macros.html" import render_field, render_errors %}

{% extends "base.html" %}

{% set active = "home" %}

{% block content %}
<article lang="en">
  <header>
    <h1>Sand Walker</h1>
    
    {% include "glfx.html" %}
    
    <small>The Pocket Reward Explorer</small>
  </header>
  <div id="content">

    {% include "_flashes.html" %}

    <h3>Summary of Rewards</h3>

    <ul>
      <li>{{ count }} rewards</li>
      <li>{{ total }} uPkt minted</li>
    </ul>

    <br />

    <h3>History of Rewards</h3>

    {% if entries %}

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
	    <th>Block Height</th>
	    <th>Reward</th>
	  </tr>
	</thead>
	<tbody>
	  {% for entry in entries %}
	  <tr>
	    <td>{{ entry.block }}</td>
	    <td>{{ entry.amount }} uPkt</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      {% else %}

      <p>No reward for this account.</p>
      
      {% endif %}

  </div>
</article>
{% endblock %}
