{% from "_macros.html" import render_field, render_errors %}

{% extends "base.html" %}

{% set active = "home" %}

{% block content %}
<article lang="en">
  <header>
    <h1>Sand Walker</h1>
    
    {% include "glfx.html" %}
    
    <small>The Pocket Reward Explorer</small>
  </header>
  <div id="content">

    {% include "_flashes.html" %}

    <h3>Current Height is <b>{{ current_height  }}</b></h3>

    <p>
      The <a href="{{ url_for('sandwalker.home') }}">Sandwalker
      Project</a> is reward explorer for
      the <a href="https://pokt.network/">Pocket Network project</a>.
      It provides a frontend to explore rewards of any Pocket account
      using live data.
    </p>

    <p>
      <a href="{{ url_for('sandwalker.explorer') }}" class="right-button">Start Exploring</a>
    </p>

  </div>
</article>
{% endblock %}
